.main-content
	.item.button-jittery(style="--bg-color: #f1c40f;")
		button Click Me!
		.name Subtlety
	
	.item.button-pulse(style="--bg-color: #e67e22")
		.button__wrapper
			.pulsing
			button Click Me!
		.name Dubstep
			
	.item.button-typewriter(style="--bg-color: #e74c3c")
		.button__wrapper
			button
				p Click Me!
		.name Typewriter
	
	.item.button-pressure(style="--bg-color: #9b59b6")
		button Click Me!
			marquee(scrollamount="12")
				span Your friends would do it.
				span Your mum would be proud.
				span Your partner would be so happy.
				span Your cat would love you for it.
		.name Social Pressure
	
	
	.item.button-hand(style="--bg-color: #3498db")
		button Click Me!
			.hands
		.name Handsy
	
	
	.item.button-100(style="--bg-color:#2ecc71")
		button Click Me!
			- for (var i=1; i<4; i++)
				.emoji
		.name You're 💯

	.item.button-parrot(style="--bg-color: #2c3e50")
		button Click Me!
			- for (var i=1; i<7; i++)
				.parrot
		.name Encouragement
				
	.item.button-rainbow(style="--bg-color: #ecf0f1")
		button Click Me!
			.rainbow
		.name Rainbow
		
	.item.footer(style="--bg-color: #7f8c8d")
		.explanation
			| Part of the 
			a(href="https://codepen.io/collection/XJNKLz/" target="_blank") CSS Animations collection here
			|  .

			footer
				a(href="https://twitter.com/meowlivia_" target="_blank")
					i.icon-social-twitter.icons
				a(href="https://github.com/oliviale" target="_blank")
					i.icon-social-github.icons
				a(href="https://dribbble.com/oliviale" target="_blank")
					i.icon-social-dribbble.icons
	